body
{background-color:#F8F8F8;}

html, body, th, td, p
{font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans"
, "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref"
, sans-serif;}

body{padding-top:0;}
.container{width:80%;}
.ContentFlow{background-color:black;margin-top:50px;}
.content{margin-top:50px;}


/* Thumbnails */
.thumbnail{padding:0;
    margin-bottom:1em;
    position:relative;}

.thumbnail>div{
    color:#F8F8F8;
    background-color:black;
    opacity:0.5;
    top:0;
    left:0;
    font-size:120%;
    text-decoration:none;
    padding-top:0.5em;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-bottom:0.5em;
    position:absolute;
    float:right;
}