<div class="navbar  navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">AngularJS GILT API</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="index.htm">Home</a></li>
                    <li><a href="contentflow.htm">Content Flow</a></li>
                    <li><a href="fluid.htm">Fluid</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>