<!doctype html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://angular.github.com/angularjs.org/css/bootstrap.min.css">
    <title>Angular Gilt</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://code.angularjs.org/angular-1.0.0rc6.min.js"></script>
    <script src="http://code.angularjs.org/angular-resource-1.0.0rc6.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/gilt-js-api.js"></script>
    <script type="text/javascript">

        function FetchCtrl($scope, $http) {

            $scope.url = 'https://api.gilt.com/v1/sales/men/active.json?apikey=88658e0b728c695d6145ffde625f01f6';
            $scope.url='data/gilt.json';

            $scope.fetch = function() {
                $scope.code = null;
                $scope.response = null;

                $http.get($scope.url).success(success).error(error);

                 function success(data, status) {
                        $scope.status = status;
                        $scope.data = data;
                 };

                 function error(data, status) {
                        $scope.data = data || "Request failed";
                        $scope.status = status;
                 };
            };

            $scope.updateModel = function(method, url) {
                $scope.method = method;
                $scope.url = url;
            };
        }
    </script>
</head>


<body>
<div class="containerX">

    <div  ng-controller="FetchCtrl">

        <h1>Gilt API</h1>
        <button ng-click="fetch()">fetch</button><br>
        <div>
            <div ng-repeat="s in data.sales">
                <div class="thumbnails">
                    <div class="span10">
                        <div class="thumbnail">
                            <h3><a href="{{s.sale}}?apikey=88658e0b728c695d6145ffde625f01f6">{{s.name}}</a></h3>
                            <img align="left" style="padding-right:1em;padding-top:0.5em;"
                                 src="{{s.image_urls.300x184[0].url}}" alt=""
                                 height="{{s.image_urls.300x184[0].height}}"
                                 width="{{s.image_urls.300x184[0].width}}" />
                            <p>{{s.description}}.</p>
                            <!-- TODO: Fix up date formats -->
                            <p>{{s.begins}} to {{s.ends}}</p>
                            <a class="btn" href="{{s.sale}}?apikey=88658e0b728c695d6145ffde625f01f6">Buy {{s.name}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

</body>

</html>